@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
:root{
    --blue:#263238;
    --lightblue:rgb(38, 50, 56,.95);
    --yellow:#ffc727;
    --white:#fff;
    --inter:'Inter';
    --poppins:'Poppins';
    --open-sans:'Open Sans';
    --raleway:'Raleway';
    --wgt600:600;
}
*,::after,::before{padding:0;margin:0;outline:none;box-sizing:border-box;}
a{color:unset;text-decoration:none;}
body,html{width:100%;scroll-behavior:smooth;margin:0;}
body{font-family:'Ubuntu',Verdana, Geneva, Tahoma, sans-serif;}
header{background:linear-gradient(rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)),url(../images/poster.jpg);}
header{position:relative;display:flex;align-items:center;flex-direction:column;justify-content:center;}
header{background-position:center;background-size:cover;background-repeat:no-repeat;height:100vh;}
.navbar{display:flex;align-items:center;justify-content:space-between;padding:30px 20px;color:#fff;transition:background .3s ease-in-out, padding .3s ease-in-out;}
.navbar{position:fixed;right:0;left:0;top:0px;z-index:999;}
.navbar.active{padding:20px 20px;background:var(--blue);z-index:1;}
.site-name a{font-weight:700;font-size:1.5rem;display:flex;align-items:center;font-family:var(--poppins);}
.site-name a span:first-child{font-size:30px;margin-right:5px;}
.site-name a span{color:var(--yellow);transition:color .3s;}
.site-name a span.active{color:var(--yellow);}
.search-button #button{display:none;}
.category{margin-left:100px;}
.category ul{display:flex;align-items:center;}
.category :is(ul li){list-style:none;margin:0 20px;font-family:var(--open-sans);font-weight:600;}
.category ul li :is(a){text-transform:uppercase;transition:color .2s;position:relative;}
.category ul li a::after{content:"";position:absolute;width:0%;height:2px;background:var(--yellow);display:block;transition:width .5s;}
.category ul li :is(a:hover){color:var(--yellow);}
.category ul li a:hover::after{width:100%;}
.category ul li a.active{color:var(--white);}
.movie-header{width:95%;margin:0 auto;display:flex;padding-top:100px;}
.movie-started,.movie-slideshow{width:50%;}
.movie-slideshow{display:flex;position:relative;}
.movie-h1{width:100%;margin-right:auto;margin-top:100px;}
.movie-h1 :is(h1){text-transform:capitalize;font-size:4rem;color:#fff;}
.movie-h1 :is(h1 span){color:var(--yellow)}
.movie-h1 p{color:var(--yellow);font-weight:600;font-size:1.2rem;display:flex;align-items:center;font-family:var(--inter);}
.movie-h1 p::after,.movie-h1 p::before{content:"";width:20px;height:2px;background-color:var(--yellow);position:relative;display:block;}
.get-started-btn{margin-top:50px;}
.get-started-btn :is(button){padding:13px 25px;border:3px solid var(--yellow);background:transparent;color:#fff;border-radius:50px;}
.get-started-btn :is(button){text-transform:uppercase;font-family:var(--inter);font-weight:600;font-size:0.85rem;transition:background .3s,color .3s;}
.get-started-btn button:hover{color:var(--blue);background-color:var(--yellow);}
.search-button a button{padding:10px 30px;text-transform:uppercase;border-radius:50px;border:2px solid var(--yellow);background-color:transparent;color:var(--white);transition:color .3s,background-color .3s;}
.search-button a button{font-weight:var(--wgt600);font-family:var(--inter);font-size:0.9rem;}
.search-button{margin-right:20px;}
.search-button a button:hover{background-color:var(--yellow);color:var(--blue);}
.movie-slideshow{display:flex;align-items:center;padding-bottom:20px;position:relative;overflow-x:auto;scroll-snap-type:inline mandatory;}
.movie-slideshow .img-slide{min-width:calc(100% / 2);width:calc(100% / 2);padding:0 15px;scroll-snap-align:start;}
.movie-slideshow .img-slide img{width:100%;height:100%;border-radius:5px;}
.movie-slideshow .img-slide figcaption{text-align:start;margin-top:10px;}
.movie-slideshow .img-slide figcaption :is(p, :not(.year-ratings)) p{font-family:var(--open-sans);color:var(--yellow);font-weight:var(--wgt600);font-size:1.05rem;}
.year-ratings{display:flex;align-items:center;justify-content:space-between;margin-top:10px;}
.year-ratings p{font-family:var(--inter);color:var(--white);border:2.5px solid var(--yellow);padding:1px 5px;font-size:0.9rem;}
.main{background-color:var(--blue);padding:30px 0px;width:100%;}
.main .now-playing,.main .upcoming,.main .popular,.main .rated{width:95%;margin:0 auto;padding-top:100px;}
.now-playing-header,.upcoming-header,.popular-header,.rated-header{display:flex;justify-content:space-between;align-items:center;}
.now-playing-header p,.upcoming-header p,.popular-header p,.rated-header p{color:var(--white);font-size:2rem;font-weight:600;}
.see-more-now-playing,.see-more-upcoming,.see-more-popular,.see-more-rated{display:flex;align-items:end;}
.see-more-btn a{color:var(--yellow);font-family:var(--inter);font-size:1.1rem;transition:border-bottom .3s;}
.see-more-btn a{display:flex;align-items:center;transition:display .5s;}
.see-more-btn a i{opacity:0;transition:opacity .2s ease-out,left .5s ease-in;position:relative;}
.see-more-btn a:hover i{opacity:1;left:4px;}
.now-playing-movies,.upcoming-movies,.popular-movies,.rated-movies{margin:50px 0;justify-content:center;}
.now-playing-movies,.upcoming-movies,.popular-movies,.rated-movies{display:flex;justify-content:space-between;padding-bottom:100px;}
.now-playing-movies .img-slide,.upcoming-movies .img-slide,.popular-movies .img-slide,.rated-movies .img-slide{width:calc(100% / 5);padding:0px 10px;margin:0;min-width:calc(100% / 5);}
.now-playing-movies .img-slide,.upcoming-movies .img-slide,.popular-movies .img-slide,.rated-movies .img-slide{display:flex;flex-direction:column;justify-content:space-between;}
.now-playing-movies .img-slide img,.upcoming-movies .img-slide img,.popular-movies .img-slide img,.rated-movies .img-slide img{width:100%;height:100%;}
.now-playing-movies .img-slide figcaption,.upcoming-movies .img-slide figcaption,.popular-movies .img-slide figcaption,.rated-movies .img-slide figcaption{text-align:start;margin-top:10px;}
.now-playing-movies .img-slide figcaption :is(p, :not(.year-ratings)) p,.upcoming-movies .img-slide figcaption :is(p, :not(.year-ratings)) p,
.popular-movies .img-slide figcaption :is(p, :not(.year-ratings)) p,
.rated-movies .img-slide figcaption :is(p, :not(.year-ratings)) p{font-family:var(--open-sans);color:var(--yellow);font-weight:var(--wgt600);font-size:1.05rem;}
.img-slide:first-child{padding-left:0;}
.img-slide:last-child{padding-right:0;}
.now-playing-movies .img-slide :is(.date),.upcoming-movies .img-slide :is(.date),.popular-movies .img-slide :is(.date),.rated-movies .img-slide :is(.date){border:none;padding:3px 0px;}
.img-hover,.img-slide{border-radius:5px;}
.img-hover{overflow:hidden;width:100%;height:350px}
.img-hover img{transition:transform .5s;object-fit:cover;}
.img-hover:hover img{transform:scale(1.1);}
.movie-slideshow::-webkit-scrollbar{height:5px;}
.movie-slideshow::-webkit-scrollbar-thumb{background-color:var(--yellow);border-radius:10px;}
.movie-slideshow::-webkit-scrollbar-track{background-color:transparent;border-radius:10px;}
.hide{display:none;}
.main .popular,.main .rated{padding-top:0px;}
.main .popular,.main .rated,.main .upcoming,.main .now-playing{margin-bottom:80px;}
.upcoming-movies,.popular-movies{padding-bottom:0px;}
.fixed-header{position:relative;overflow:hidden;}
.fixed-to-top{position:fixed;top:calc(100% - 15%);left:calc(100% - 8%);bottom:0;right:0;width:fit-content;z-index:2;height:fit-content;}
.top-btn{width:55px;height:55px;border:1px solid var(--yellow);background:var(--yellow);border-radius:50%;}
.top-btn{display:flex;justify-content:center;align-items:center;}
.top-btn{bottom:-999px;position:relative;transition:bottom 1s ease-in}
.top-btn.block{bottom:0px;transition:bottom .5s ease-out;}
.top-btn{box-shadow:0px 0px 15px -2px var(--white);}
.top-btn i{color:var(--blue);font-size:1.1rem;font-weight:var(--wgt600);position:relative;}
.top-btn i{transform:rotate(-90deg);transition:all .2s ease-out;position:relative;top:0px;}
.top-btn:hover i{transition:all .2s ease-in;position:relative;top:-5px;}
.loader-flex{display:flex;flex-direction:column;align-items:center;margin-top:50px;width:100%;}
.loader-flex .loader{width:50px;height:50px;border:5px solid var(--yellow);border-radius:50%;border-right-color:var(--lightblue);}
.loader-flex p{color:var(--yellow);margin-top:5px;font-family:var(--open-sans);}
.loader-flex .loader{animation:loader 2s infinite ease-in-out both;}
@keyframes loader{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
.footer{background-color:var(--yellow);padding:50px 0;width:100%;}
.footer-header{width:95%;margin:0 auto;}
.footer-col-1,.footer-col-2{display:flex;justify-content:space-between;align-items:center;}
.footer-col-1{padding-bottom:20px;border-bottom:1px solid var(--blue);}
.about-us,.social-media-link{display:flex;align-items:center;}
.about-us li{list-style:none;margin:0 20px 0 0;}
.social-media-link li{list-style:none;margin:0 0 0 30px;}
.about-us li:last-child{margin-right:0;}
.social-media-link li:first-child{margin-left:0;}
.about-us li a{font-family:var(--poppins);font-size:1rem;font-weight:500;color:var(--blue);}
.social-media-link li a i{color:var(--blue);}
.social-media-link li a{font-size:25px;display:flex;flex-direction:column;align-items:center;position:relative;}
.social-media-link li a::before{content:attr(icon-logo);font-size:.7rem;font-family:var(--poppins);font-weight:var(--wgt600);}
.social-media-link li a::before{background-color:var(--blue);color:var(--yellow);padding:2px 5px;margin-bottom:5px;position:absolute;}
.social-media-link li a::before{opacity:0;transition:opacity .3s ease-in, top .3s ease-out;top:-25px;}
.social-media-link li a:hover::before{opacity:1;}
.footer-col-2{margin-top:20px;}
.home-logo p{font-family:var(--poppins);font-size:1.5rem;font-weight:var(--wgt600);color:var(--blue);}
.home-logo p .white{color:var(--white);}
.home-logo p{display:flex;align-items:center;}
.home-logo p .movie-logo{margin-right:5px;}
.trade-mark p{color:var(--blue);font-family:var(--inter);font-size:1.1rem;}
.animate{transition:all 1s ease-in-out;transform:scale(0);}
.animate.active{transform:scale(1);}
#close-btn{display:none;}

/* .tv-header{padding-left:10px;} */
.tv-header p{font-family:var(--poppins);font-size:2.5rem;font-weight:var(--wgt600);color:var(--white);}

/* tv series */
.main .airing,.main .tv-rated,.main .rated{width:95%;margin:0 auto;padding-top:100px;}
.airing-header,.tv-rated-header,.rated-header{display:flex;justify-content:space-between;align-items:center;}
.airing-header p,.tv-rated-header p,.rated-header p{color:var(--white);font-size:2rem;font-weight:600;}
.see-more-airing,.see-more-tv-rated,.see-more-rated{display:flex;align-items:end;}
.airing-movies,.tv-rated-movies,.rated-movies{margin:50px 0;justify-content:center;}
.airing-movies,.tv-rated-movies,.rated-movies{display:flex;justify-content:space-between;padding-bottom:100px;}
.airing-movies .img-slide,.tv-rated-movies .img-slide,.rated-movies .img-slide{width:calc(100% / 5);padding:0px 10px;margin:0;min-width:calc(100% / 5);}
.airing-movies .img-slide,.tv-rated-movies .img-slide,.rated-movies .img-slide{display:flex;flex-direction:column;justify-content:space-between;}
.airing-movies .img-slide img,.tv-rated-movies .img-slide img,.rated-movies .img-slide img{width:100%;height:100%;}
.airing-movies .img-slide figcaption,.tv-rated-movies .img-slide figcaption,.rated-movies .img-slide figcaption{text-align:start;margin-top:10px;}
.airing-movies .img-slide figcaption :is(p, :not(.year-ratings)) p,
.tv-rated-movies .img-slide figcaption :is(p, :not(.year-ratings)) p,
.rated-movies .img-slide figcaption :is(p, :not(.year-ratings)) p{font-family:var(--open-sans);color:var(--yellow);font-weight:var(--wgt600);font-size:1.05rem;}
.airing-movies .img-slide :is(.date),.tv-rated-movies .img-slide :is(.date),.rated-movies .img-slide :is(.date){border:none;padding:3px 0px;}
.main .tv-rated,.main .rated,.main .airing{margin-bottom:80px;}
.airing-movies,.tv-rated-movies{padding-bottom:0px;}


@media screen and (max-width:768px){
    header{height:initial;}
    .navbar{width:100%;margin:0 auto;padding:25px 20px 20px;}
    .category{margin-left:0px;position:absolute;width:100%;height:100dvh;top:0;display:flex;justify-content:end;}
    .category{right:-999px;background-color:rgb(0, 0, 0,.5);transition:all .5s ease-in-out;}
    .category.block{right:0;z-index:999;}
    .category ul{flex-direction:column;width:50%;height:100dvh;position:relative;padding-top:25px;align-items:start;background-color:var(--blue);padding-left:15px;}
    .category :is(ul li){margin:15px 0;}
    .movie-header{flex-direction:column;padding-bottom:50px;}
    .site-name a{font-size:1.3rem;}
    .site-name a span i{font-size:1.5rem;}
    .search-button{display:flex;margin-right:0;}
    .search-button #button{display:block;font-size:1.3rem;margin-left:15px;background-color:transparent;color:var(--yellow);border:none;}
    .search-button a button{padding:8px 20px;font-size:0.8rem;}
    #close-btn{display:block;width:100%;text-align:end;padding-right:25px;}
    #close-btn button{background-color:transparent;border:none;color:var(--yellow);font-size:1.5rem;}
    .movie-started, .movie-slideshow{width:100%;}
    .movie-h1{margin-top:50px;text-align:center;}
    .movie-h1 p{justify-content:center;}
    .movie-started{text-align:center;}
    .get-started-btn{margin-top:20px;}
    .movie-slideshow{margin-top:40px;}
    .movie-slideshow .img-slide{width:calc(100% / 1.5);min-width:calc(100% / 1.3);padding:0 8px;}
    .img-slide:first-child{padding-left:0;}
    .img-slide:last-child{padding-right:0;}
    .img-hover{height:380px;}
    .movie-slideshow .img-slide figcaption :is(p, :not(.year-ratings)) p{font-size:1.15rem;}
    .year-ratings p{font-size:1rem;}
    .upcoming-header p, .popular-header p, .rated-header p{font-size:1.5rem;}
    .upcoming-movies, .popular-movies, .rated-movies{flex-wrap:wrap;}
    .upcoming-movies .img-slide, .popular-movies .img-slide, .rated-movies .img-slide{width:calc(100% / 2);padding:0;margin-bottom:30px;}
    .upcoming-movies .img-slide:nth-child(odd), .popular-movies .img-slide:nth-child(odd), .rated-movies .img-slide:nth-child(odd){padding-right:5px;}
    .upcoming-movies .img-slide:nth-child(even), .popular-movies .img-slide:nth-child(even), .rated-movies .img-slide:nth-child(even){padding-left:5px;}
    .upcoming-movies .img-slide .img-hover, .popular-movies .img-slide .img-hover, .rated-movies .img-slide .img-hover{height:280px;}
    .fixed-to-top{left:calc(100% - 20%);}
    .footer-col-1, .footer-col-2{flex-direction:column-reverse;}
    .social-media-link,.home-logo{margin-bottom:15px;}
    .movie-h1 :is(h1){font-size:3.8rem;margin-top:10px;}
    .movie-header{padding-top:110px;}
}
@media screen and (max-width:360px) {
    .search-button a button{padding:5px 15px;}
    .search-button #button{margin-left:8px;}
}