@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
:root{
    --blue:#263238;
    --lightblue:rgb(38, 50, 56,.95);
    --yellow:#ffc727;
    --white:#fff;
    --inter:'Inter';
    --raleway:'Raleway';
    --open-sans:'Open Sans';
    --wgt600:600;
    --wgt700:700;
}
*,::after,::before{padding:0;margin:0;outline:none;box-sizing:border-box;}
a{color:unset;text-decoration:none;}
body,html{width:100%;scroll-behavior:smooth;margin:0;}
body{font-family:'Ubuntu',Verdana, Geneva, Tahoma, sans-serif;}
header{background:linear-gradient(rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.8)),url(../images/poster.jpg);}
header{position:relative;}
header{background-position:center;background-size:cover;background-repeat:no-repeat;}
.navbar{display:flex;align-items:center;justify-content:space-between;padding:30px 20px;color:#fff;transition:background .3s ease-in-out, padding .3s ease-in-out;}
.navbar{position:fixed;right:0;left:0;top:0px;background-color:var(--blue);}
.navbar.active{padding:20px 20px;background:var(--blue);z-index:1;}
.site-name a{font-weight:700;font-size:1.5rem;display:flex;align-items:center;}
.site-name a span:first-child{font-size:30px;margin-right:5px;}
.site-name a span{color:var(--yellow);transition:color .3s;}
.site-name a span.active{color:var(--yellow);}
.site-name button{display:none;}
.category{margin-left:100px;}
.category ul{display:flex;align-items:center;}
.category :is(ul li){list-style:none;margin:0 20px;font-family:var(--open-sans);font-weight:600;}
.category ul li :is(a){text-transform:uppercase;transition:color .2s;position:relative;}
.category ul li a::after{content:"";position:absolute;width:0%;height:2px;background:var(--yellow);display:block;transition:width .5s;}
.category ul li :is(a:hover){color:var(--yellow);}
.category ul li a:hover::after{width:100%;}
.category ul li a.active{color:var(--white);}
.search-button a button{padding:10px 30px;text-transform:uppercase;border-radius:50px;border:2px solid var(--yellow);background-color:transparent;color:var(--white);transition:color .3s,background-color .3s;}
.search-button a button{font-weight:var(--wgt600);font-family:var(--inter);font-size:0.9rem;}
.search-button{margin-right:20px;}
.search-button a button:hover{background-color:var(--yellow);color:var(--blue);}
.main{background-color:var(--blue);padding:30px 0px;width:100%;}
.main .upcoming,.main .popular,.main .rated{width:95%;margin:0 auto;margin-top:100px;}
.upcoming-header,.popular-header,.rated-header{margin-bottom:30px;}
.upcoming-header p,.popular-header p,.rated-header p{color:var(--white);font-size:2rem;font-weight:600;padding-left:10px;}
.all-upcoming-movies,.all-popular-movies,.all-rated-movies{display:flex;flex-wrap:wrap;}
.img-hover,.img-slide,.img-hover img{border-radius:5px;}
.img-slide{width:calc(100% / 5);padding:0px 10px;margin-bottom:40px;height:100%;}
.img-slide{min-height:450px;display:flex;flex-direction:column;justify-content:space-between;}
.img-hover{width:100%;height:350px;}
.img-hover img{width:100%;height:100%;}
.img-slide figcaption{text-align:start;margin-top:10px;}
.img-slide figcaption :is(p, :not(.year-ratings)) p{font-family:var(--open-sans);color:var(--yellow);font-weight:var(--wgt600);font-size:1.05rem;}
.year-ratings{display:flex;align-items:center;justify-content:space-between;margin-top:10px;}
.year-ratings p{font-family:var(--inter);color:var(--white);border:2.5px solid var(--yellow);padding:1px 5px;font-size:0.9rem;}
.all-upcoming-movies .img-slide :is(.date),.all-popular-movies .img-slide :is(.date),
.all-rated-movies .img-slide :is(.date),.search-results .img-slide :is(.date){border:none;padding:3px 0px;}
.img-hover{overflow:hidden;width:100%;height:350px}
.img-hover img{transition:transform .5s;object-fit:cover;}
.img-hover img[alt]{display:flex;text-align:center;font-size:2rem;color:var(--yellow);}
.img-hover:hover img{transform:scale(1.1);}
.hide{display:none;}
.search-body{background-color:var(--blue);}
.search-header p{padding:0;font-family:var(--inter);}
.search-header p:last-child{font-size:1rem;margin-top:10px;}
.search-input{width:calc(100% - 70%);padding:12px 8px;font-family:var(--open-sans);border:2px solid var(--yellow);}
.search-input{background-color:transparent;color:var(--yellow);font-size:1rem;}
.search-input::placeholder{color:var(--yellow);}
.submit-search{margin-top:15px;}
.submit-search button{padding:15px 40px;border:2px solid var(--yellow);background-color:var(--yellow);}
.submit-search button{border-radius:50px;font-family:var(--inter);font-weight:var(--wgt600);}
.search-form{margin-bottom:30px;}
.search-form .error p{color:red;font-family:var(--inter);}
.search-results{display:flex;flex-wrap:wrap;}
.upcoming-body,.popular-body,.rated-body{background-color:var(--blue);}
.search-header,.search-form{margin-left:10px;}
.loader-flex{display:flex;flex-direction:column;align-items:center;margin-top:50px;width:100%;}
.loader-flex .loader{width:50px;height:50px;border:5px solid var(--yellow);border-radius:50%;border-right-color:var(--lightblue);}
.loader-flex p{color:var(--yellow);margin-top:5px;font-family:var(--open-sans);}
.loader-flex .loader{animation:loader 2s infinite ease-in-out both;}
@keyframes loader{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
.fixed-header{position:relative;overflow:hidden;}
.fixed-to-top{position:fixed;top:calc(100% - 15%);left:calc(100% - 8%);bottom:0;right:0;}
.top-btn{width:55px;height:55px;border:1px solid var(--yellow);background:var(--yellow);border-radius:50%;}
.top-btn{display:flex;justify-content:center;align-items:center;}
.top-btn{bottom:-999px;position:relative;transition:bottom 1s ease-in-out}
.top-btn.block{bottom:0px;transition:bottom .5s ease-in-out;}
.top-btn{box-shadow:0px 0px 15px -2px var(--yellow);}
.top-btn i{color:var(--blue);font-size:1.1rem;font-weight:var(--wgt600);position:relative;}
.top-btn i{transform:rotate(-90deg);}
.top-btn:hover i{animation:fixed-btn .5s forwards ease-in;}
@keyframes fixed-btn{from{top:5px;}to{top:-5px;}}
.view-search{display:flex;}
.movie-header{display:flex;width:100%;align-items:center;}
.searched-image-header{width:35%;}
.searched-details-header{width:65%;display:flex;flex-direction:column;}
.searched-image-header figure{width:calc(100% - 30%);height:500px;border-radius:7px;}
.searched-image-header figure img{width:100%;height:100%;object-fit:fill;border-radius:7px;}
.title-header p{color:var(--yellow);font-weight:var(--wgt700);font-size:2.5rem;}
.title-header p{font-family:var(--raleway);}
.details-header{display:flex;margin-top:20px;flex-direction:column;}
.details-header p{margin:2px 0px;color:#fff;font-weight:var(--wgt600);font-family:var(--inter);}
.details-header p span{text-transform:uppercase;}
.overview-header p{color:var(--white);font-family:var(--open-sans);font-size:1.2rem;}
.overview-header{margin-top:10px;}